body{  
    background-color: rgb(4, 28, 50);
    font-family: 'Raleway', sans-serif;
    color: white;
}

.h1_restaurant{
    margin-top: 75px;
    letter-spacing: 3px;
}

a{
    color: white;
}

.nav-link{
    color: white;
}

.abtus{
    margin-top: 100px;
}

.quote{
    margin-top: 145px;
}

#viewmore_btn{
    text-decoration: none;
    color: white;
    border: solid 1px rgb(236, 179, 101);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

#viewmore_btn:hover{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
}

.container-fluid{
    background-color: rgb(4, 41, 58);
    border-bottom: solid 1px rgb(236, 179, 101);
    border-top: solid 1px rgb(236, 179, 101);
}

#cntnrfld_header{
    background-color: rgb(4, 41, 58);
    border-bottom: solid 1px rgb(236, 179, 101);
    border-top: none;
}

.navbar{
    margin-top: 0px;
}

#contacts{
    margin-top: 150px;
}

#menu{
    ///margin-top: 750px;
    padding-bottom: 60px;
}

h1, h3{
    color: rgb(236, 179, 101);
}

.img_bg{
    background-image: url(Images/kaja.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.img_bg:hover{
    filter: blur(3px);
    
}

.gallery_href{
    position: relative;
    top: 200px;
}

